<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
    <title>Water Shop-Sucess</title>
</head>
<body>
        <div>
            <header class="header">
                <h2>Water Shop</h2>
              </header>
            <hr /><br />
            <div class="status-order">
                <h2><b>Your ordered has been Completed!</b></h2>
                <hr /><br />
                <p>All oreder informations, has been sended on your e-mail!</p>
                <hr /><br />
                <b>Thanks for choosing our Shop!</b>
                <hr /><br />
            </div>
        </div>
</body>
</html>





